allow system_app sysfs_thermal:file { write };
allow system_app sysfs:file { read write open getattr };
allow system_app selinuxfs:file { read };
allow system_app sysfs_zram:dir { search };
